<!-- Form -->

<form class="form" action="/" method="post">
  <label for="from">From</label>
  <input type="text" name="from" id ="from">
  <label for="to">To</label>
  <input type="text" name="to" id="to">
  <button type="submit" value="Submit"></button>
</form>
