<!-- Form -->

<form action="/" method="post">
  <label for="from">From</label>
  <input class='form-control' type="text" name="from" id ="from">
  <label for="to">To</label>
  <input class='form-control' type="text" name="to" id="to">
  <button class='btn btn-primary' type="submit">Submit</input>
</form>
