<!-- Game -->
<div id="game" class="row">
  <div class="col-xs-12">

    <header class="page-header text-center">
      <h1>
        <a href="/">
          Tower Of Hanoi
        </a>
      </h1>
    </header>

    <div class="towers row well">
      <% towers.each_with_index do |tower, index| %>
        <%= erb :tower, locals: { tower: tower, tower_number: index + 1} %>
      <% end %>
    </div><!-- towers -->

      <div class="form row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= erb :form %>
        </div>
      </div><!-- form -->

  </div>
</div><!-- game -->
