<!-- Tower -->

<%#
Hint: this should not be 0
This view needs the tower number to work!
The tower number can be 1, 2 or 3
Where can we get this number from???
%>
<% tower_number ||= 0 %>

<div class="tower tower-<%= tower_number %> col-xs-4">

  <p class="tower-number text-center"><%= "#{tower_number}" %></p>

  <div class="disks row">

    <%#
    DO NOT REMOVE!!!!!
    Disks must be rendered below this
    to format the stacking of disks correctly
    %>
    <% (3 - tower.length).times do |i| %>
      <div class="col-xs-12">&nbsp;</div>
    <% end %>

    <%# Render me some disks? %>
    <% (0..2).each do |i| %>
      <% if tower[i] != nil %>
        <%= erb :disk, locals: { disk: tower[i] } %>
      <% end %>
    <% end %>
  </div><!-- disks -->
</div><!-- tower -->
